{% extends 'base.html' %}

{% block title %}Add a New Question{% endblock title %}

{% block content %}



<h2 class="container text-center alert alert-primary my-3 col-sm-8">Add a New Question</h2>

<form method="POST" class="container col-sm-6 mb-3 shadow border-top" style="border-radius: 15px; padding: 40px">
    {% csrf_token %}
    <div class="form-group mt-2">
        <!-- <div class="mb-1">Question No:</div> -->
        <div class="mb-1">{{form.QuestionNo.label_tag}}</div>
        {{form.QuestionNo}}
        <!-- {{form.QuestionNo.errors|striptags}} -->
    </div>
    <div class="form-group mt-2">
        <div class="mb-1">Question:</div>
        {{form.Question}}
    </div>
    <div class="row mt-2">
        <div class="col-md-6 my-3 mt-md-0 form-group">
            <div class="mb-1">Option 1:</div>
            {{form.Option1}}
        </div>
        <div class="col-md-6 form-group mt-md-0">
            <div class="mb-1">Option 2:</div>
            {{form.Option2}}
        </div>
        <div class="col-md-6  form-group mt-md-0">
            <div class="mb-1">Option 3:</div>
            {{form.Option3}}
        </div>
        <div class="col-md-6 form-group mt-md-0">
            <div class="mb-1">Option 4:</div>
            {{form.Option4}}
        </div>
    </div>
    <div class="form-group mt-2">
        <div class="mb-1">Answer:</div>
        {{form.Answer}}
    </div>

    <div class="mt-4">
        <input class="btn btn-success" type="submit" value="Submit">
        <a class="btn btn-sm btn-outline-secondary ms-2" href="{% url 'home' %}">Go Back
            <i class="fas fa-chevron-circle-left"></i>
        </a>
    </div>
</form>

{% endblock content %}