{% extends 'base.html' %}

{% block title %}Quiz App{% endblock title %}

{% block content %}

<div class="container">
    <h2 class="text-center alert alert-info mt-3"><i class="fas fa-star"></i> Quiz App using Python Django,
        Javascript and Jquery <i class="fas fa-star"></i></h2>

    <div>
        {% if exam %}
        {% for i in exam %}
        <table>
            <tr>
                <td class="text-primary">{{i.QuestionNo}}) {{i.Question}}</td>
            </tr>
            <tr>
                <td><input type="radio" class="rb" name={{i.QuestionNo}} id="Option1" value="{{i.Option1}}">
                    {{i.Option1}}
                </td>
            </tr>
            <tr>
                <td><input type="radio" class="rb" name={{i.QuestionNo}} id="Option2" value="{{i.Option2}}">
                    {{i.Option2}}
                </td>
            </tr>
            <tr>
                <td><input type="radio" class="rb" name={{i.QuestionNo}} id="Option3" value="{{i.Option3}}">
                    {{i.Option3}}
                </td>
            </tr>
            <tr>
                <td><input type="radio" class="rb" name={{i.QuestionNo}} id="Option4" value="{{i.Option4}}">
                    {{i.Option4}}
                </td>
            </tr>

            <tr>
                <td>
                    <label id="ans" class="rb" style="display:none; color:green"><b>{{i.Answer}}</b></label>
                </td>
            </tr>
        </table>
        <hr>

        {% endfor %}

        <input type="submit" value="Submit" class="btn btn-success" id="b1" onclick="getanswers()">
        <br>
        <div class="my-5">
            <b id="UserAnswers"></b>
        </div>
    </div>
    {% else %}
    <div class="container col-sm-6">
        <h3 class="text-center alert alert-danger mt-3">No Quiz Available !!</h3>
    </div>
    {% endif %}
</div>

<div class="text-center">
<hr>
    <a class="btn btn-warning mb-3" href="{% url 'create' %}">Add New Question <i class="fas fa-plus-circle"></i>
    </a>
</div>


{% endblock content %}